body{background:#F8F8FA;font-family:'Source Sans Pro', sans-serif;}
header{background:#fff;border-bottom:solid 1px #d2d6df;min-width:360px;}
a{color: #0d47a1; outline:none;}
a:hover{text-decoration:none;outline:none;}
h3, h4, h5{font-family:Arial, Verdana, "Microsoft Sans Serif", sans-serif;}
h4{font-size:15px;}
.container{min-width:360px;}
.global{min-height:60px;}
.global-header{float:left;}
.global-search{float:left;max-width:150px;}
.global-search form .form-group{margin-bottom:0px;}
.global-search form input[type=text]{border:none;height:60px;padding-left:45px;font-size:18px;color:rgba(0,0,0,0.4);}
.global-search .form-group.form-submit{position:absolute;width:40px;margin-top:-44px;}
.global-search .form-group.form-submit button[type=submit]{background:none;border:none;font-size:20px;color:rgba(0,0,0,0.4);}
.global-search .form-group.form-reset{position:absolute;right:80px;top:12px;}
.global-search .form-group.form-reset button{background:none;border:none;font-size:23px;color:rgba(0,0,0,0.4);}
.global-navigation{float:right;}
.global-navigation ul{padding:0;margin:0; width:100%;}
.global-navigation > ul > li{float:left;border-left:solid 1px #eff2f5;list-style:none;}
.global-navigation > ul > li:last-child{border-right:1px solid #eff2f5;}
.global-navigation > ul > li > a{text-transform:uppercase;display:block;min-height:60px;padding:0 18px;line-height:60px;color:rgba(0,0,0,1);border-radius:0 !important;border:none !important;}
.btn.btn-primary{background:#2196F3;color:#fff;}
.btn.btn-primary:active,.btn.btn-primary:hover, .btn.btn-primary:focus{background:#1976d2;}
.global-navigation > ul > li > a:hover, .global-navigation > ul > li > a:active, .global-navigation > ul > li > a:focus{background:#eff2f5;text-decoration:none;}
.global-navigation .dropdown > a:after{content:'\f107';font-family:'FontAwesome';position:absolute;margin-left:5px;transition:all 0.2s;}
.global-navigation .dropdown.open > a:after{transition:all 0.2s;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.global-navigation .dropdown-menu{border-radius:0;border:solid #d2d6df 1px;box-shadow:none;margin-right:-1px;min-width:310px;}
.global-navigation .dropdown-menu > li > a{line-height:45px;color:rgba(0,0,0,1);}
.global-navigation .dropdown-menu .divider{margin:0;}
.global-mobile ul{margin:0;}
.global-mobile ul > li{list-style:none;float:left;}
.global-mobile ul > li > a{text-transform:uppercase;display:block;padding:0 15px;line-height:60px;color:rgba(0,0,0,0.5);min-width:60px;height:60px;}
.global-mobile ul > li > a > i{font-size:20px;color:rgba(0, 0, 0, 0.5);}
.global-mobile ul > li > a > .bar{display:block;height:3px;margin-bottom:5px;width:30px;transition:all 0.2s;}
.global-mobile ul > li > a > .bar::after{background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;content:"";height:3px;position:absolute;width:40px;}
.global-mobile ul > li > a > .bar:nth-child(2){}
#mobile-menu-toggle{padding-top:20px;}
.mobile-menu{border-top:solid 1px #d2d6df;transition:all 0.2s;background:#fff;position:absolute;width:100%;left:0px;z-index:9999;display:block;top:60px;}
.mobile-menu > ul > li{float:none;width:100%;display:block;border-bottom:solid 1px #d2d6df;}
.mobile-menu .dropdown-menu{float:none !important;width:100%;left:0;border-left:none;border-right:none;}
.rotate-45{transition:all 0.2s;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.rotate-135{transition:all 0.2s;-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
#container-content{}
footer{background:#fff;color:rgba(0,0,0,1);border-top:1px solid #d2d6df;padding-top:45px;}
footer a:hover, footer a:active, footer a:focus{text-decoration:underline;}
footer .row{margin-bottom:15px;}
#footer-country{border-top:1px solid #d2d6df;padding-top:30px;}
#footer-about{border-top:solid 1px #d2d6df;padding-top:30px;}
footer .list-inline.socail-footer a > img{display:inline-block;margin-bottom:15px;}
.footer-headline{display:block;margin-bottom:30px;text-transform:uppercase;}
.footer-links{padding:0;margin:0;}
.footer-links > li{float:left;list-style:none;margin-right:15px;}
.footer-links > li:last-child{margin-right:0px;border-radius:15px;}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{border:1px solid #ddd;border-radius:15px;display:inline-block;}
.pagination > li > a{margin-right:5px;border-radius:20px;}
.pagination > li:first-child > a{margin-right:5px;border-radius:20px !important;}
.pagination > li:last-child > a{margin-right:5px;border-radius:20px;margin-right:0;}
#content{background:#fff;min-height:600px;border-left:1px solid #eff2f5;border-right:1px solid #eff2f5;}
.btn{border:none;}
.mb-30{margin-bottom:30px !important;}
@media (min-width:1200px){.global-search > form > .form-group{width:100%;}
footer .list-inline.socail-footer a > img{display:inline-block;margin-bottom:15px;width:25px;}
#footer-about-menu{text-align:right;}
#footer-about-menu ul{padding:0;margin:0;}
#footer-about-menu > ul > li{margin-right:15px;display:inline-block;}
#footer-about-menu > ul > li:last-child{margin-right:0px;}
.global-search form input[type="text"]{width:100%;}
}
@media (min-width:768px) and (max-width:991px){.global-search form input[type=text]{border:none;height:60px;padding-left:55px;font-size:16px;color:rgba(0,0,0,0.4);width:380px;}
}
@media (max-width:767px){.global-search form input[type=text]{border:none;height:60px;padding-left:45px;font-size:16px;color:rgba(0,0,0,0.4);width:100%;}
.global-mobile ul > li > a{text-transform:uppercase;display:block;line-height:60px;color:rgba(0,0,0,0.5);min-width:52px;height:60px;}
.global-mobile ul > li > a > .bar:nth-child(2){}
.global-search form input[type="text"]{width:100%;}
}
@media (max-width:640px){.global-header{display:block;float:none;width:100%;text-align:center;}
.global-mobile ul > li > a > .bar:first-child{margin-bottom:5px;}
.global-mobile ul > li > a > .bar:nth-child(2){position:inherit;}
.rotate-45{transform:rotate(45deg);transition:all 0.2s ease 0s;}
.rotate-135{transform:rotate(-45deg);transition:all 0.2s ease 0s;}
.mobile-menu{top:111px;}
.global-mobile ul > li > a{width:60px;}
.global-search form input[type="text"]{width:150px !important;font-size:10px;padding-left:15px;}
.global-search .form-group.form-submit{left:0px;width:40px;}
.home .mobile-menu{margin-top:0px;}
}
@media (max-width:360px){}