/* CSS Document */

h1 {
	margin-top: 0px;
	font-size: 38px;
	font-weight: 700;
}
h2 {
	font-size: 28x;
	font-weight: 700;
}
.benefit {
	margin-top: 30px;
	margin-bottom: 30px;
}
.benefit li {
	font-size: 22px;
}
p {
	font-size: 18px;
}
.card {
	background: #fff;
	padding: 30px;
	margin-bottom: 30px;
}
.help-block{
	font-size: 12px;
}
.btn-default {
	background: rgba(0,0,0,0.25);
	color: #fff;
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
	background: rgba(0,0,0,0.20);
	color: #fff !important;
}
label{
	font-weight: normal;
}
#google-map{
	height: 360px;
}

label.error{
	display:block;
	color: red;
}
.preview p {
	font-size: 14px;
}
.preview #thumbnail {
	margin-bottom: 15px;
}
