.home h1 {
	font-weight:bold;
	font-size: 28px
}
.home h1 span {
	display: none
}
.home h2 {
	font-weight:bold;
	font-size: 24px
}
.home .latest-caption h3 a {
	color: #fff
}
.home .heading a {
	color: #fff;
	display: block;
	font-size: 26px
}
small {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px
}
.topstory a.overflow.ellipsis {
	display: block
}
.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
	font-family: Arial, Verdana, "Microsoft Sans Serif";
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500
}
.home h1 {
	margin: 0
}
.home .topstory > strong {
	display: block;
	border-bottom: 1px solid #eff2f5;
	padding-bottom: 15px;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 10px
}