h1 {
	font-weight: 700;
}
section:nth-child(odd) {
	background: rgba(255,255,255,1)
}
section:nth-child(even) {
	background: rgba(0,0,0,.01);
	border-top: solid 1px #eff2f5;
	border-bottom: solid 1px #eff2f5
}
section {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px
}
.light-gray {
	background: #F8F8FA!important
}
.section-heading {
	margin-bottom: 15px
}
.breadcrumb {
	margin: 0;
	padding: 0;
	background: none
}
.breadcrumb>li {
	text-transform: uppercase;
	font-size: 14px;
}
#story-text {
	margin: 30px;
	font-size: 14px
}
#story-text p {
	margin-bottom: 30px
}
.social-button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	font-family: Arial, Verdana, "Microsoft Sans Serif"
}
.social-button span {
	display: none
}
.button-envelope {
	background: #EDA200;
	color: #FFF
}
.button-envelope:hover, .button-envelope:active, .button-envelope:focus {
	background: #D69200;
	color: #FFF
}
.button-facebook {
	background: #3B5998;
	color: #FFF
}
.button-facebook:hover, .button-facebook:active, .button-facebook:focus {
	background: #2B4F96;
	color: #FFF
}
.button-twitter {
	background: #1DA1F2;
	color: #FFF
}
.button-twitter:hover, .button-twitter:active, .button-twitter:focus {
	background: #0891E0;
	color: #FFF
}
.button-google-plus {
	background: #D95434;
	color: #FFF
}
.button-google-plus:hover, .button-google-plus:active, .button-google-plus:focus {
	background: #C63919;
	color: #FFF
}
.button-pinterest-p {
	background: #AA0719;
	color: #FFF
}
.button-pinterest-p:hover, .button-pinterest-p:active, .button-pinterest-p:focus {
	background: #8E000E;
	color: #FFF
}
.button-linkedin {
	background: #1D87BD;
	color: #FFF
}
.button-linkedin:hover, .button-linkedin:active, .button-linkedin:focus {
	background: #0C77AD;
	color: #FFF
}
.button-reddit-alien {
	background: #FF4500;
	color: #FFF
}
.button-reddit-alien:hover, .button-reddit-alien:active, .button-reddit-alien:focus {
	background: #ea470b;
	color: #FFF
}
.button-share {
	background: #82ba00;
	color: #FFF
}
.button-share:hover, .button-share:active, .button-share:focus {
	background: #91D400;
	color: #FFF
}
.button-digg {
	background: #104d82;
	color: #FFF
}
.button-digg:hover, .button-digg:active, .button-digg:focus {
	background: #1b5891;
	color: #FFF
}
.button-delicious {
	background: #2A96FF;
	color: #FFF
}
.button-delicious:hover, .button-delicious:active, .button-delicious:focus {
	background: #157bdb;
	color: #FFF
}
.button-invite span, .button-facebook span, .button-facebook span, .button-facebook span, .button-twitter span, .button-google-plus span, .button-pinterest span, .button-linkedin span {
	display: inline-block;
	font-size: 12px;
	padding: 5px;
	display: none
}
.button-foursquare {
	color: #fff;
	background: #DC2C5B
}
.button-foursquare:hover, .button-foursquare:active, .button-foursquare:focus {
	background: #F74775;
	color: #FFF
}
.button-whatsapp {
	color: #fff;
	background: #25D366
}
.button-whatsapp:hover, .button-whatsapp:active, .button-whatsapp:focus {
	color: #fff;
	background: #2AB200
}
.button-weibo {
	background: #D52B2B;
	color: #fff
}
.button-weibo:hover, .button-weibo:active, .button-weibo:focus {
	color: #fff;
	background: #c41919
}
.button-tumblr {
	color: #fff;
	background: #36465D
}
.button-tumblr:hover, .button-tumblr:active, .button-tumblr:focus {
	color: #fff;
	background: #2f3a49
}
.button-xing {
	color: #fff;
	background: #056D71
}
.button-xing:hover, .button-xing:active, .button-xing:focus {
	color: #fff;
	background: #00595E
}
picture {
	display: block;
	margin-bottom: 10px
}
picture img {
	width: 100%
}
picture>span {
	display: block;
	padding: 5px;
	background: #fff
}
figure {
	margin-bottom: 10px
}
.full.event img {
	height: auto!important
}
#story {
	border: 1px solid #eff2f5;
	margin-top: 15px;
	background: #fff
}
#story h1 {
	margin: 0
}
#related {
	margin-bottom: 0
}
#related h2 {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 15px;
	text-transform: uppercase
}
#related h3 {
	margin: 0;
	font-size: 16px;
	background: #fff;
	margin: 0;
	padding: 15px;
	font-weight: 700
}
#related h3 a {
	color: rgba(0,0,0,.7);
	display: block
}
#related figure {
	margin: 0
}
#related figure a {
	display: block;
	overflow: hidden
}
#related figure img {
	width: 100%;
	min-height: 150px
}
.entered {
	margin-top: 10px;
	color: rgba(0,0,0,.5)
}
.credit {
	text-transform: uppercase
}
#heading {
	margin: 30px
}
.share-this {
	margin-top: 0;
	margin: 0;
	padding: 0;
	margin-left: 0;
	margin-right: 0
}
.share-this>li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px
}
.share-this>li>a {
	display: block;
	font-size: 18px;
	text-align: center;
	width: 35px;
	height: 35px;
	line-height: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
.share-this>li>a>span {
	display: none
}
#topstory, .topstory {
	background: #fff;
	padding: 30px;
	border: 1px solid #eff2f5;
	margin-top: 15px
}
#topstory .list-inline.entered, .topstory .list-inline.entered {
	color: rgba(0,0,0,.5);
	margin-top: 5px
}
#topstory h5, .topstory h5 {
	font-weight: 700;
	font-size: 16px;
	margin: 0;
	margin-bottom: 15px;
	text-transform: uppercase
}
#topstory h4, .topstory h4 {
	font-weight: 700;
	margin: 0;
	font-size: 13px
}
#topstory h4 a, .topstory h4 a {
	color: rgba(0,0,0,.9)
}
.latest img {
	width: 100%
}
.latest-cover {
	position: relative;
	overflow: hidden;
	position: relative
}
.latest-cover-overlay {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 42%, rgba(0,0,0,.63) 98%, rgba(0,0,0,.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 42%, rgba(0,0,0,.63) 98%, rgba(0,0,0,.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 42%, rgba(0,0,0,.63) 98%, rgba(0,0,0,.65) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	z-index: 99
}
.latest-caption {
	position: absolute;
	bottom: 0;
	z-index: 999;
	padding: 15px;
	color: #fff
}
.latest-caption h1 {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px
}
.latest-entered {
	margin-bottom: 10px
}
.latest-caption h1 a {
	color: #fff;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.border {
	border: solid 1px #d2d6df;
	background: #fff;
	min-height: 150px
}
.cate-latest {
	margin-bottom: 10px;
	margin-top: 15px
}
.cate-latest.mt-15{
	margin-bottom:30px;
}
.cate-list h4 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 0
}
.cate-list h4 a {
	color: rgba(0,0,0,.8)
}
.pagination>li.active>a {
	border: none
}
span.credit {
	display: block;
	font-size: 12px;
	color: rgba(0,0,0,.7)
}
.mb-25 {
	margin-bottom: 25px
}
.mb-20 {
	margin-bottom: 20px
}
.mt-15 {
	margin-top: 15px
}
.mt-0 {
	margin-top: 0px!important
}
.mb-0 {
	margin-bottom: 0px!important
}
.mb-15 {
	margin-bottom: 15px!important
}
.mt-30 {
	margin-top: 30px
}
.mb-30 {
	margin-bottom: 30px
}
figure {
	position: relative
}
figure .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 42%, rgba(0,0,0,.63) 98%, rgba(0,0,0,.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 42%, rgba(0,0,0,.63) 98%, rgba(0,0,0,.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 42%, rgba(0,0,0,.63) 98%, rgba(0,0,0,.65) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0)
}
figure figcaption {
	position: absolute;
	bottom: 0;
	color: #fff
}
figure figcaption h3 {
	font-size: 16px!important;
	font-weight: 700;
	padding-left: 10px
}
figure figcaption h3 a {
	color: #fff
}
figure figcaption h3 a:hover {
	color: #fff
}
figure figcaption ul.list-inline {
	margin-left: 5px
}
.share-input-btn.facebook-bg.st_facebook_custom {
	display: none
}
#story-text img {
	max-width: 100%;
	margin-top: 15px;
	margin-bottom:15px;
	display:block;
}
#story-text img.unprocessed:first-child {
	display: none
}
#news-banner {
	background: #fff none repeat scroll 0 0;
	padding: 25px 15px 15px;
	border: 1px solid #eff2f5
}
#news-banner ul li {
	margin-bottom: 30px
}
.business-card {
	background: #fff;
	border: 1px solid #eff2f5;
	margin-bottom: 30px;
	position: relative
}
.meta-data {
	position: absolute;
	right: 0;
	z-index: 999;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	background: rgba(0,0,0,.7);
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px
}
.business-card .business-card-body {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px
}
.business-card .business-card-body > p{
	font-size: 13px;
}

.business-card .business-card-footer {
	border-top: solid 1px #eff2f5;
	padding: 0;
	text-align: right
}
.business-card .business-card-footer ul {
	padding: 0;
	margin: 0
}
.business-card .business-card-footer ul li {
	margin: 0;
	padding: 0
}
.business-card .business-card-footer ul li.pull-left a {
	padding-top: 5px;
	padding-left: 15px;
	border: none
}
.business-card .business-card-footer ul li a {
	display: block;
	text-align: center;
	padding: 10px;
	border-left: solid 1px #eff2f5
}
.business #story {
	margin-bottom: 0px!important
}
#google-map {
	border: 1px solid #eff2f5;
	min-height: 350px
}
#thumbnail ul li {
	margin: 0
}
.business-figure {
	background: rgba(0,0,0,0);
	overflow: auto
}
.business-figure-image img {
	width: 100%
}
.business-figure-thumbnail>ul {
	padding: 0;
	margin: 0
}
.business-figure-thumbnail>ul>li {
	padding: 0;
	margin: 0;
	display: inline-block
}
#google-map-icon-cover {
	position: relative
}
#google-map-icon {
	position: absolute;
	right: 1px;
	top: 0;
	z-index: 999;
	background: #1976d2;
	padding-right: 15px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	min-height: 40px
}
#google-map-icon>ul {
	padding: 0;
	margin: 0
}
#google-map-icon ul>li {
	display: inline-block;
	margin-left: 15px
}
#google-map-icon ul>li>a {
	display: block;
	font-size: 18px;
	margin-top: 5px;
	color: #fff
}
#google-map-icon ul>li>a:hover, #google-map-icon ul>li>a:active, #google-map-icon ul>li>a:focus {
	text-decoration: none
}
.nearlest {
	font-size: 16px;
	font-weight: 700
}
#comments h3 {
	border-bottom: 1px solid #eff2f5;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 30px;
	padding-bottom: 15px;
	padding-left: 15px
}
#comments {
	border: 1px solid #eff2f5;
	background: #FFF
}
#comments .cover {
	padding-left: 15px;
	padding-right: 15px
}
#comments .row {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid 1px #eff2f5
}
#comments .row:last-child {
	margin-bottom: 0;
	border-bottom: solid 0 #eff2f5
}
#comments-form {
	border: 1px solid #eff2f5;
	background: #FFF;
	margin-bottom: 30px
}
#comments-form h3 {
	padding-bottom: 15px;
	border-bottom: solid 1px #eff2f5;
	margin-bottom: 30px;
	font-weight: 700
}
#comments-form h3 span {
	display: block;
	padding-left: 15px;
	padding-right: 15px
}
#comments-form form {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px
}
.modal .social-button {
	text-align: center;
	height: 50px;
	width: 50px;
	line-height: 50px;
	display: inline-block;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}
.modal-body .share-this {
	overflow: auto;
	float: none
}
.home h3.text-uppercase {
	font-size: 18px;
	padding-top: 10px
}
.modal-header {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #EFF2F5
}
#modal-share .modal-body, #modal-email .modal-body {
	background: #F8F8FA
}
.modal-footer {
	background: #EFF2F5;
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
.modal-body, .modal-footer {
	background: #F8F8FA;
	text-align: center;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px
}
.modal-title {
	font-weight: 700
}
#hashtags {
	border: solid 1px #ccc;
	margin-top: 30px!important;
	background: #fff
}
#hashtags h3 {
	margin: 0;
	padding: 0;
	font-weight: bolder;
	font-size: 14px
}
#hashtags h3 span {
	display: block;
	padding: 15px;
	margin-bottom: 15px;
	border-bottom: solid 1px #eff2f5
}
.hashtags {
	font-size: 18px
}
.hashtags h3 {
	font-size: 16px
}
.hashtags a {
	border: 1px solid #eee;
	border-radius: 15px;
	display: inline-block;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 5px 15px
}
.hashtags a:hover {
	background: #eee
}
.home h3.text-uppercase a {
	color: #000
}
.profile {
	border: solid 1px #d2d6df;
	background: #fff
}
.profile h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 700
}
.profile h2 span {
	display: block;
	padding: 15px;
	border-bottom: solid 1px #eff2f5;
	margin-bottom: 30px
}
.profile .form-group {
	margin-right: 30px;
	margin-left: 30px
}
.profile label {
	color: rgba(0,0,0,.5)
}
.form-group.note-group-select-from-files {
}
label.error {
	color: red
}
.photos {
	overflow: auto;
	margin-bottom: 30px
}
.photos>div {
	float: left;
	width: 50%;
	margin-bottom: 15px
}
.well h3 {
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0
}
.btn-default {
	background: rgba(0,0,0,.1)
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
	background: rgba(0,0,0,.2)
}
.logo img {
	width: 165px!important
}
#google-map {
	min-height: 500px;
	border-bottom: none;
	margin-bottom: 0
}
.property-hero {
	background-size: cover;
	min-height: 670px;
	background-position: center;
	position: relative
}
#RegisterInterest .input-group-addon {
	min-width: 110px
}
#RegisterInterest .fa {
	font-size: 22x
}
.property-icon ul {
	padding: 0;
	margin-top: 30px;
	margin-left: 0;
	margin-right: 0
}
.property-icon>ul>li {
	color: rgba(0,0,0,.5);
	font-size: 24px;
	text-align: center;
	border-right: solid 1px #d2d6df;
	min-width: 60px
}
.property-icon>ul>li:last-child {
	border: none
}
.property-icon>ul>li>span {
	font-size: 14px;
	display: block
}
.property-icon>ul>li>span>strong {
	color: rgba(0,0,0,.5)
}
h2 {
	margin: 0;
	font-size: 16px
}
.property-heading {
	border-bottom: solid 1px #d2d6df;
	padding-bottom: 25px;
	margin-bottom: 15px
}
.property-heading .col-xs-6>ul {
	margin-top: 5px
}
.property-detail {
	padding-left: 30px;
	padding-right: 30px;
	background: #fff;
	border-left: solid 1px #d2d6df;
	border-right: solid 1px #d2d6df;
	padding-bottom: 15px
}
.property-detail-text {
	font-size: 16px
}
.property-type {
	border-bottom: solid 1px #d2d6df;
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-top: 25px
}
.property-type a.btn {
	margin-top: 5px;
	border-radius: 30px
}
.property-price>span {
	font-size: 36px;
	color: #0B9700
}
.property-price>span:before {
	content: '฿';
	font-size: 30px
}
.form-group .dropdown-menu {
	height: 230px;
	overflow: auto;
	padding-left: 0
}
.form-group .dropdown-menu li a {
	padding-left: 15px;
	margin-bottom: 5px
}
.form-group .dropdown-menu li a span {
	color: rgba(0,0,0,.3)
}
span.areacode {
	color: rgba(0,0,0,.5)
}
.dropdown-menu .flag {
	width: 32px;
	margin-right: 5px
}
.input-group .input-group-addon button.btn.dropdown-toggle {
	background: none
}
.input-group-addon.flag {
	padding: 0!important
}
.input-group-addon.flag button:active, .input-group-addon.flag button:focus, .input-group-addon.flag button:focus {
	background: none;
	box-shadow: none
}
.property-media {
	width: 100%;
	margin: auto;
	position: absolute;
	bottom: 45px;
	text-align: center
}
.property-media ul {
	padding: 0;
	max-width: 200px;
	margin: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
.property-media ul li {
	list-style: none;
	float: left;
	background: rgba(255,255,255,.95);
	border-right: solid 1px rgba(0,0,0,.1);
	margin: 0px!important;
	padding: 0px!important;
	width: 66px
}
.property-media ul li:hover {
	background: #eee
}
.property-media>ul>li>a {
	padding: 15px;
	display: block;
	font-size: 18px;
	text-align: center;
	color: rgba(0,0,0,.7)
}
#property-contact {
	background: #001E60;
	text-align: center;
	font-size: 18px;
	color: #fff;
	position: relative
}
#property-contact h3 {
	margin-top: 0
}
#property-contact-social {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #fff;
	padding: 30px;
	text-align: center
}
#property-contact-social a {
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 30px;
	color: rgba(0,0,0,.45)
}
.label.label-success.abs {
	position: absolute;
	width: 25px;
	height: 25px;
	line-height: 21px;
	border-radius: 25px;
	top: 4px
}
.property-media a {
	text-decoration: none
}
a.circle i {
	display: block;
	border: solid 1px #3C763D;
	border-radius: 30px;
	height: 26px;
	width: 25px;
	line-height: 23px;
	text-align: center;
	font-size: 12px;
	padding-left: 4px
}
a.logo {
	margin-top: 7px;
	display: block
}
.latest-entered a {
	color: #fff
}
.section-heading h3 {
	margin-top: 0
}
.section-heading h3 a {
	color: #000;
	text-transform: uppercase
}
.property-search {
	border: solid 1px #eff2f5;
	background: #fff;
	margin-bottom: 30px;
	padding: 15px
}
.property-block {
	background: #fff
}
.property-block figure img {
	width: 100%;
	height: auto!important
}
figure.full>a>img {
	height: auto!important
}
.property-block {
	border: solid 1px #eff2f5;
	margin-bottom: 30px
}
.property-block-body {
	overflow: auto
}
.property-block-info {
	width: 50%;
	float: left
}
.property-block-info ul {
	margin: 0;
	padding: 0
}
.property-block-agent {
	background: #001E60;
	width: 50%;
	float: left
}
.property-block-header figure {
	margin: 0!important
}
.property-block-agent {
	padding: 15px;
	color: #fff;
	height: 170px
}
.property-block-agent h3 {
	font-size: 16px;
	font-weight: 700
}
.property-block-agent .avatar-block {
	width: 90px;
	border-radius: 90px;
	border: solid 3px #fff
}
.property-block-info {
	padding: 15px;
	height: 170px
}
.property-block-info h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 15px
}
.property-block-info h3 a {
	color: #000
}
.property-block-agent hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: solid 1px rgba(255,255,255,.4)!important
}
.property-detail .breadcrumb {
	padding: 0;
	margin-top: 30px
}
.background img {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='50')
}
.event-cover-poster {
	overflow: hidden;
	position: relative
}
.background {
	position: absolute;
	width: 100%
}
.background img {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
	height: 350px
}
.event-info {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #fff;
	margin-top: 30px
}
.event-info figure {
	margin-bottom: 0
}
.event-header {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.event-header img {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.event-header-text {
	padding-top: 30px
}
.event-info .breadcrumb {
	padding: 0;
	margin-top: 0;
	margin-bottom: 30px
}
.size-large {
	width: 100%!important
}
.avatar-75 {
	width: 75px;
	border-radius: 50px;
	display: block
}
.view-type h1 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 30px
}
.view-type {
	margin-bottom: 30px;
	background: #fff;
	border: solid 1px #eff2f5
}
.view-type ul {
	border-top: solid 1px #eff2f5;
	margin: 0
}
.view-type ul li {
	margin: 0;
	padding: 0
}
.view-type ul li a {
	border-right: solid 0 #eff2f5;
	display: block;
	height: 50px;
	width: 90px;
	line-height: 50px;
	text-align: center
}
.view-type ul li.active a {
	background: #eff2f5
}
.property-search.fixed-top {
	top: 30px;
	width: 455px;
	position: fixed!important
}
#member-social {
	margin-top: 30px;
	margin-bottom: 20px
}
#member-social>ul {
	padding: 0;
	margin: 0
}
#member-social>ul>li {
	padding: 0;
	margin: 0
}
#member-social>ul>li>a {
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	line-height: 35px;
	margin-left: 3px;
	margin-right: 3px
}
a.facebook {
	color: #3B5998;
	transition: all 0.2s
}
a.facebook:hover, a.facebook:active, a.facebook:focus {
	color: #fff;
	background: #3B5998;
	transition: all 0.2s;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px
}
a.twitter {
	color: #1DA1F2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px
}
a.twitter:hover, a.twitter:active, a.twitter:focus {
	color: #fff;
	background: #1DA1F2;
	transition: all 0.2s
}
a.instagram {
	color: #B33087;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px
}
a.instagram:hover, a.instagram:active, a.instagram:focus {
	color: #fff;
	background: #B33087;
	transition: all 0.2s
}
a.pinterest {
	color: #BD081C;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px
}
a.pinterest:hover, a.pinterest:active, a.pinterest:focus {
	color: #fff;
	background: #BD081C;
	transition: all 0.2s
}
a.gray {
	color: #9F9F9F!important
}
a.gray:active, a.gray:hover, a.gray:focus {
	background: none!important;
	color: #9F9F9F!important
}
.avatar-news-editor {
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	width: 75px;
	height: 75px;
	margin-top: 30px
}
.info-content {
	width: 250px
}
.info-content h3 {
	margin-top: 0!important;
	margin-bottom: 15px!important;
	font-size: 16px!important
}
.info-content img {
	width: 100%;
	margin-bottom: 15px
}
.list-inline>li {
	padding-left: 5px;
	padding-right: 0px!important
}
#story-text img[alt="TC mark"] {
	display: none;
	position: absolute;
	visibility: hidden
}
.business-card-body-full {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px
}
.form-inline.classified .btn.btn-primary {
	border: solid 1px #2196f3
}
h3.small {
	margin: 0;
	padding: 0
}
form.classified {
	margin-bottom: 15px
}
.classified-category {
	display: block;
	background: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px
}
#classified-slide {
	background: rgba(0,0,0,.8);
	margin-top: 30px;
	margin-bottom: 30px
}
#classified-slide p {
	/*margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 0*/
}
#classified-slide p img {
	max-width: 100%;
	margin: auto
}
.classified-thumbnail {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-lef: 0;
	margin-right: 0;
	padding: 0
}
.classified-thumbnail:first-child {
	margin-bottom: 0px!important
}
.classified-thumbnail>li>a {
	display: block;
	overflow: hidden;
	width: 75px;
	height: 75px
}
.classified-thumbnail>li>a>img {
	min-height: 75px;
	width: 100%
}
.classified-info {
	background: #fff;
	padding: 30px;
	border: 1px solid #eff2f5
}
#classified-li>li:first-child {
	border-top: 1px solid #eff2f5
}
#classified-li>li>a {
	display: block
}
#classified-li>li>i, #classified-li>li>a>i {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 15px;
	border: solid 1px #1BB15B;
	text-align: center;
	width: 35px;
	height: 35px;
	line-height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 30px;
	color: #1BB15B
}
#classified-li>li {
	background: #fff;
	border: 1px solid #eff2f5;
	border-top: none;
	padding: 15px;
	overflow: auto
}
#classified-li>li>span, #classified-li>li>a>span {
	display: block;
	float: left;
	font-size: 15px;
	margin-top: 10px;
	color: #02AD51;
	width: 150px
}
#classified-li>li.price>i {
	color: #FFA700!important;
	border: solid 1px #FFA700!important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 30px
}
#classified-li>li.price>span {
	color: #FFA700!important
}
#classified-child-category-list>li>a {
	display: block;
	border: 1px solid #eff2f5;
	background: #fff;
	padding: 5px;
	margin: 5px 5px
}
#easy-news>li {
	padding-right: 10px!important
}
#easy-news>li:last-child {
	border-right: none
}
table td {
	font-size: 14px
}
#story h3 {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 25px;
	text-transform: uppercase
}
.property-description {
	font-size: 14px
}
.business-card h3 {
	font-size: 14px;
	margin: 5px 0 0;
	font-weight: bold;
}


@media (min-width:1200px) {
.classified-thumbnail>li:first-child {
	margin-left: 0
}
.classified-thumbnail>li {
	display: inline-block;
	margin-left: 30px
}
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.clip {
	text-overflow: clip
}
.ellipsis {
	text-overflow: ellipsis
}
.word {
	text-overflow: ellipsis-word
}
figure>a>img {
	height: 165px!important;
	width: 100%
}
.topstory figure>a>img {
	height: auto!important
}
.cate-list figure>a>img.youtube {
	margin-left: -15px;
	margin-top: -13%;
	min-height: 239px;
	width: 109%
}
.background img {
	height: 350px
}
.footer-headline {
	font-size: 14px;
	font-weight: 700
}
.latest-caption {
	width: 100%
}
.latest-caption .avatar {
	width: 75px;
	height: 75px;
	top: 65px;
	right: 25px
}
.property-card {
	background: #fff;
	border: 1px solid #eff2f5
}
.property-card-body {
	padding-left: 15px;
	padding-right: 15px
}
.property-card figure a img {
	height: 150px
}
.property-card-body h3 {
	font-size: 16px;
	text-transform: uppercase;
	width: 195px
}
.property-card-footer {
	border-top: solid 1px #eff2f5
}
.property-card-footer ul, .property-card-footer ul li {
	margin: 0;
	padding: 0
}
.property-card-footer ul li:first-child a {
	border-left: none
}
.property-card-footer a {
	display: block;
	border-left: solid 1px #eff2f5;
	text-align: center;
	width: 43px;
	height: 45px;
	line-height: 42px
}
.avatar {
	width: 60px;
	height: 60px;
	border-radius: 45px;
	position: absolute;
	right: 0;
	top: 120px;
	border: solid 3px #fff
}
.property-card-body {
	padding-left: 15px;
	padding-right: 15px;
	height: 100px
}
figure.property-card a img {
	height: 170px
}
.property-agent {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	width: 150px;
	border: solid 3px #fff
}
#property-contact {
	margin-left: -30px;
	min-height: 350px
}
#property-contact-social {
	border-bottom: solid 1px #d2d6df;
	border-right: solid 1px #d2d6df
}
.cate-latest img {
	min-height: 495px
}
.cate-list {
	background: #fff;
	padding: 30px;
	margin-bottom: 30px;
	border: 1px solid #eff2f5;
	height: 195px;
	overflow: hidden
}
.cate-list h4 {
	margin-top: 0
}
.cate-list .list-inline {
	margin-top: 15px
}
#topstory, .topstory {
	height: 495px;
	margin-bottom: 30px
}
#topstory figure, .topstory figure {
	max-height: 50px;
	overflow: hidden
}
#topstory .row, .topstory .row {
	margin-bottom: 15px
}
#topstory h4 a, .topstory h4 a {
	display: block;
	max-height: 30px;
	overflow: hidden
}
#topstory h5, .topstory h5 {
	padding-bottom: 15px;
	border-bottom: solid 1px #eff2f5
}
#topstory .row:last-child, .topstory .row:last-child {
	border-bottom: none
}
figure.latest-2 img {
	height: 175px
}
#story-text .attachment-thumbnail.size-thumbnail {
	width: auto!important
}
figure.ralated img {
	height: 85px
}
figure.full>a>img {
	height: 150px
}
.ralated-card {
	border: 1px solid #eff2f5
}
.business-card .business-card-footer ul li.pull-left {
	padding-top: 10px;
	max-width: 135px;
	font-size: 11px;
	color: rgba(0,0,0,.5);
	text-align: left
}
.business-figure-image {
	width: 50%;
	float: left
}
.business-figure-thumbnail {
	width: 50%;
	float: left
}
.business-figure-thumbnail {
	height: 248px;
	overflow: auto
}
.business-figure-thumbnail .thumbnail-img img {
	width: 59px!important
}
.share-this {
	margin-top: 0;
	float: right
}
.modal-body .share-this li {
	margin-left: 10px;
	margin-bottom: 10px
}
.modal-footer .share-this li a {
	font-size: 25px!important;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center
}
.business-card-body.news {
	height: 220px
}
figure.full img {
	width: 100%;
	height: 150px
}
.cate-list figure {
	margin-left: -30px;
	margin-top: -30px;
	margin-bottom: -30px;
	overflow: hidden
}
.property-info .topstory {
	margin-left: -30px;
	margin-top: -10px;
	border-top: 0;
	border-left: 0
}
.full.event a {
	display: block;
	height: 150px;
	overflow: hidden
}
.full.event a img {
	min-height: 150px
}
.business-card .business-card-footer ul li.pull-left a {
	max-width: 100px
}
.latest-cover {
	height: 495px
}
.latest-cover img {
	min-height: 495px
}
.home .heading > a {
    color: #fff;
    display: block;
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 5px;
	 text-shadow: 2px 2px 2px rgb(150, 150, 150);
}
.business-card .business-card-body {
	height: 120px;
	overflow: hidden
}
	#related .business-card-body{
		max-height: 95px;
	}

}

@media (max-width:1199px) {

.home .heading > a {
    color: #fff;
    display: block;
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 5px;
}

.latest-cover{
	margin-bottom: 15px;
}

.mobile-responsive {
	width: 100%
}
.classified-thumbnail>li {
	display: inline-block;
	margin-left: 30px
}
.breadcrumb {
	text-align: center
}
.share-this {
	text-align: center
}
figure>a>img {
	width: 100%
}
.col-lg-6 .share-this {
	margin-bottom: 0
}
.breadcrumb {
	padding: 0;
	margin-bottom: 15px
}
figure {
	margin-bottom: 0
}
figure.latest-2 {
	margin-bottom: 15px
}
figure.latest-2.last {
	margin-bottom: 0px!important
}
.topstory {
	margin-bottom: 15px
}
.topstory h4 {
	font-size: 18px;
	margin-bottom: 15px
}
.cate-list-card {
	padding: 15px;
	background: #fff;
	border: 1px solid #eff2f5;
	margin-bottom: 15px
}
.property-info .topstory {
	margin-top: 0;
	border-top: solid 1px #d2d6df!important;
	border-bottom: 0
}
h1 {
	font-size: 18px
}
#related figure a {
	display: block;
	height: auto!important;
	overflow: auto
}
.list-inline.pull-right {
	margin-top: 15px!important;
	float: none!important
}
#property-contact {
	border-left: solid 1px #d2d6df;
	border-right: solid 1px #d2d6df;
	min-height: 300px
}
.property-agent {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	width: 100px
}
.modal .share-this li {
	margin-left: 10px;
	margin-bottom: 10px
}
.modal .share-this li a {
	font-size: 35px!important;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center
}
.avatar {
	border: 3px solid #fff;
	border-radius: 45px;
	height: 60px;
	position: absolute;
	right: 0;
	width: 60px
}


}
.classified-info h1, .classified-info h2, .classified-info h3 {
	font-size: 18px;
	color: rgba(0,0,0,.8);
	margin-bottom: 15px;
	padding-bottom: 15px
}

.business-card-body a{
	display:block;
}

.credit > a {
    font-size: 11px;
}

.lastest .business-card-body {
    height: auto;
}

.lastest li a {
    border-bottom: 1px dotted #eff2f5;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.lastest li img{
	min-height: 165px !important;
}

.home h3{
}

.cate-list-card a{
		display:block;
}
#story-text > iframe {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.home h3,
.home h4,
.home h5,
.home h6,
.home h7,
.home h8
{
	font-weight: bold;
	font-size: 24px;
}

#visitors {
    font-size: 39px;
    font-weight: bold;
}

.home .topstory  h5{
	font-size: 14px;
}

#news-banner img{
	width: 100%;
}
#news-banner .list-unstyled > li > a{
	font-weight: bold;
	display:block;
	margin-bottom:5px;
}

#news-banner .description{
	color: rgba(0,0,0,0.6);
}
.view-type h2 {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.global-navigation > ul > li > a{
	font-size: 11px;
}

.global-navigation  ul  li  a{
	font-size: 11px;
	text-transform: uppercase;
}


#story-text iframe {
	height: 350px;
	width: 100%;
}
#story-text .article__component--picture img{
	height: 100% !important;
	width: 100%;
}

.dd_outer{
	display: none;
}

video {
	max-width: 100%;
}
